absl-py==0.8.1
backcall==0.1.0
certifi==2019.11.28
cffi==1.13.2
cycler==0.10.0
decorator==4.4.1
future==0.18.2
grpcio==1.16.1
ipython==7.10.2
ipython-genutils==0.2.0
jedi==0.15.1
kiwisolver==1.1.0
Markdown==3.1.1
matplotlib==3.1.3
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
networkx==2.4
numpy==1.17.4
olefile==0.46
parso==0.5.2
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.1
prompt-toolkit==3.0.2
protobuf==3.11.2
ptyprocess==0.6.0
pycparser==2.19
Pygments==2.5.2
pyparsing==2.4.6
python-dateutil==2.8.1
PyYAML==5.2
scipy==1.4.1
six==1.13.0
tensorboard==2.0.0
thop==0.0.4.post2006030106
torch==1.3.1
torchvision==0.4.2
tornado==6.0.4
tqdm==4.46.1
traitlets==4.3.3
wcwidth==0.1.7
Werkzeug==0.16.0
